@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-foreground: var(--primary-foreground);
  --font-roboto: var(--font-roboto);
  --font-poppins: var(--font-poppins);
  --font-nebular: var(--font-nebular);
  --font-nebular-hollow: var(--font-nebular-hollow);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* Light theme */
  --background: #0c0c0c; /* true black */
  --foreground: #ffffff;
  --primary: #1bfc06; /* highlighter green */
  --primary-foreground: #0c0c0c; /* black text on neon green */
  --secondary: #2b4f9c; /* deep blue */
  --secondary-foreground: #ffffff;
  --accent: #486d39; /* muted olive green */
  --accent-foreground: #ffffff;
  --muted: #0f1e0f; /* very dark green */
  --muted-foreground: #ffffff;
  --border: #1bfc06; /* neon green border */
  --ring: #1bfc06; /* neon green focus ring */
  --card: #0f1e0f; /* very dark green card */
  --card-foreground: #ffffff;
  --popover: #0f1e0f;
  --popover-foreground: #ffffff;

  /* --background: #ffffff;
  --foreground: #0c0c0c;
  --primary: #1bfc06; 
  
  --secondary: #2b4f9c; 
  --secondary-foreground: #ffffff;
  --accent: #486d39; 
  --accent-foreground: #ffffff;
  --muted: #0f1e0f; 
  --muted-foreground: #ffffff;
  --border: #0c0c0c; 
  --ring: #1bfc06; 
  --card: #ffffff;
  --card-foreground: #0c0c0c;
  --popover: #ffffff;
  --popover-foreground: #0c0c0c; */
}

.dark {
  /* Dark theme */
  --background: #0c0c0c; /* true black */
  --foreground: #ffffff;
  --primary: #1bfc06; /* highlighter green */
  --primary-foreground: #0c0c0c; /* black text on neon green */
  --secondary: #2b4f9c; /* deep blue */
  --secondary-foreground: #ffffff;
  --accent: #486d39; /* muted olive green */
  --accent-foreground: #ffffff;
  --muted: #0f1e0f; /* very dark green */
  --muted-foreground: #ffffff;
  --border: #1bfc06; /* neon green border */
  --ring: #1bfc06; /* neon green focus ring */
  --card: #0f1e0f; /* very dark green card */
  --card-foreground: #ffffff;
  --popover: #0f1e0f;
  --popover-foreground: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
